* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #ffe53b, #ff2525);
}

.headline {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.8rem;
}

#game {
  max-width: 80rem;
  width: 100%;
  height: 80vh;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(150px, min-content));
  justify-content: center;
  grid-gap: 8px;
  box-shadow: none;
}

div {
  box-shadow: 7px -3px 6px 3px rgba(0, 0, 0, 0.88);
  margin: 2px 10px;
}

@media only screen and (min-width: 43em) {
  .headline {
    font-size: 4.2rem;
  }

  #game {
    grid-template-columns: repeat(5, minmax(100px, 220px));
    grid-template-rows: repeat(2, minmax(80px, 220px));
    grid-gap: 1rem;
    padding: 0 4rem;
  }
}
